[package]
name = "iota-core"
version = "0.2.0-alpha.3"
authors = ["YuWeiWu <wusyong9104@gmail.com>"]
edition = "2018"
description = "Core library of IOTA"
license = "Apache-2.0"
repository = "https://github.com/iotaledger/iota.rs"
homepage = "https://iota.org"

[lib]
name = "iota"

[dependencies]
bee-message = { git = "https://github.com/thibault-martinez/bee.git", rev = "795542c1ed6ccbf506a26d3d332ecb194d374721" }
bee-pow = { git = "https://github.com/thibault-martinez/bee.git", rev = "795542c1ed6ccbf506a26d3d332ecb194d374721" }
bee-common = { git = "https://github.com/iotaledger/bee.git", rev = "c42171ff33c80cc2efb183e244dc79b7f58d9ac4" }
# bee-common = { git = "https://github.com/iotaledger/bee.git", branch = "dev" }
# bee-message = { git = "https://github.com/iotaledger/bee.git", branch = "chrysalis-pt-2" }
# bee-pow = { git = "https://github.com/iotaledger/bee.git", branch = "chrysalis-pt-2" }
iota-client = { version = "0.5.0-alpha", path = "../iota-client", default-features = false }

[dev-dependencies]
tokio = { version = "1.1", features = ["macros"] }

[features]
mqtt = ["iota-client/mqtt"]
storage = ["iota-client/storage"]
