# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

target

.project
.settings
.classpath
bin/

# Ignore generated java code
native/src/main/java/org/iota/client/*


# the local/native java code we made custom
!native/src/main/java/org/iota/client/local/
