target
index.node
**/node_modules
**/.DS_Store
npm-debug.log*
iota.log
build/
prebuilds/
*.rs.bk
Cargo.lock
.idea
.vscode
.DS_Store
book
.env
*.ipynb
addresses.json
prepared_transaction.json
signed_transaction.jso
