name: Covector
on:
  push:
    branches:
      - develop
      - production
    paths-ignore:
      - 'specs/**'
      - 'documentation/**'

concurrency: 
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  status:
    name: Status
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the Source Code
        uses: actions/checkout@v3

      - name: Run Covector Status
        uses: jbolda/covector/packages/action@covector-v0
        id: covector
        with:
          command: status

  version-or-publish:
    name: Version-or-publish
    runs-on: ubuntu-latest
    outputs:
      change: ${{ steps.covector.outputs.change }}
      commandRan: ${{ steps.covector.outputs.commandRan }}
      successfulPublish: ${{ steps.covector.outputs.successfulPublish }}

    steps:
      - name: Checkout the Source Code
        uses: actions/checkout@v3

      - name: Set Up Node.js 14
        uses: actions/setup-node@v2
        with:
          node-version: '14'
          registry-url: 'https://registry.npmjs.org'

      - name: Install Dasel
        run: brew install dasel

      - name: Configure the Git User to Use
        run: |
          git config --global user.name "${{ github.event.pusher.name }}"
          git config --global user.email "${{ github.event.pusher.email }}"

      # Publish when no change file is present.
      - id: covector
        name: Run Covector Version-or-publish
        uses: jbolda/covector/packages/action@covector-v0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          command: version-or-publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Create Pull Request with Versions Bumped
        if: ${{ steps.covector.outputs.commandRan == 'version' }}
        uses: iotaledger/create-pull-request@v3.4.1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          branch: release/version-updates
          title: Apply Version Updates From Current Changes
          commit-message: apply version updates
          labels: version updates
          body: ${{ steps.covector.outputs.change }}

  nodejs-binding-prebuild:
    name: Build Prebuilt Binaries for Node.js
    needs: version-or-publish
    if: needs.version-or-publish.outputs.successfulPublish == 'true'
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        # The GitHub hosted Windows 2022 image comes with Visual Studio 2022, but node-gyp
        # (which is used by neon-sys) sadly fails to recognize it. As a mitigation, we still run the
        # tests on Windows 2019, until we can figure out a way to fix the problem.
        # NOTE: Using Ubuntu 18.04 to provide glibc compatibility. (#588)
        os: [ubuntu-18.04, ubuntu-latest, macos-latest, windows-2019]
        node-version: ['14.x', '16.x', '18.x']
        exclude:
          # GLIBC_2.28 is only available with a newer ubuntu version
          - os: ubuntu-18.04
            node-version: '18.x'
          # ubuntu-18.04 is needed for for node 14.x and 16.x
          - os: ubuntu-latest
            node-version: '14.x'
          - os: ubuntu-latest
            node-version: '16.x'

    steps:
      - name: Checkout the Source Code
        uses: actions/checkout@v3

      - name: Set Up Stable Rust
        uses: ./.github/actions/setup-rust
        with:
          toolchain: stable
          cache: false

      - name: Set up Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install required packages (Ubuntu)
        if: ${{ startsWith(matrix.os, 'ubuntu') }}
        run: |
          sudo apt-get update
          sudo apt-get install libudev-dev libusb-1.0-0-dev

      - name: Run Yarn Install
        working-directory: bindings/nodejs/
        run: yarn install

      - name: Build Node.js Prebuilds
        working-directory: bindings/nodejs/
        run: yarn prebuild:node

      - name: Upload Prebuilds to GitHub Release
        working-directory: bindings/nodejs/
        run: yarn prebuild --upload-all ${{ secrets.GITHUB_TOKEN }} --tag-prefix nodejs-binding-v

  electron-binding-prebuild:
    name: Build Prebuilt Binaries for Electron
    if: needs.version-or-publish.outputs.successfulPublish == 'true'
    needs: version-or-publish
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        # The GitHub hosted Windows 2022 image comes with Visual Studio 2022, but node-gyp
        # (which is used by neon-sys) sadly fails to recognize it. As a mitigation, we still run the
        # tests on Windows 2019, until we can figure out a way to fix the problem.
        # NOTE: Using Ubuntu 18.04 to provide glibc compatibility. (#588)
        os: [ubuntu-18.04, macos-latest, windows-2019]

    steps:
      - name: Checkout the Source Code
        uses: actions/checkout@v3

      - name: Set Up Stable Rust
        uses: ./.github/actions/setup-rust
        with:
          toolchain: stable
          cache: false

      - name: Set up Node.js 14
        uses: actions/setup-node@v2
        with:
          node-version: '14'

      - name: Install required packages (Ubuntu)
        if: ${{ startsWith(matrix.os, 'ubuntu') }}
        run: |
          sudo apt-get update
          sudo apt-get install libudev-dev libusb-1.0-0-dev

      - name: Run Yarn Install
        working-directory: bindings/nodejs/
        run: yarn install

      - name: Build Electron Prebuilds
        working-directory: bindings/nodejs/
        run: yarn prebuild:electron

      - name: Upload Prebuilds to GitHub Release
        working-directory: bindings/nodejs/
        run: yarn prebuild --upload-all ${{ secrets.GITHUB_TOKEN }} --tag-prefix nodejs-binding-v
