name: Examine Wasm compatibility

on:
  push:
    branches:
      - develop
      - production
    paths:
      - ".github/workflows/examine-wasm.yml"
      - ".github/actions/**"
      # Watch the Rust core too
      - "**.rs"
      - "client/Cargo.toml"
      - "Cargo.lock"
  pull_request:
    branches:
      - develop
      - production
    paths:
      - ".github/workflows/examine-wasm.yml"
      - ".github/actions/**"
      # Watch the Rust core too
      - "**.rs"
      - "client/Cargo.toml"
      - "Cargo.lock"

jobs:
  wasm:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Install stable
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        target: wasm32-unknown-unknown
        override: true

    - name: Check Wasm
      uses: actions-rs/cargo@v1
      with:
        command: check
        args: --release --target=wasm32-unknown-unknown --manifest-path client/Cargo.toml --no-default-features --features tls,message_interface
