name: Format

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
      - dev
    paths-ignore:
      - 'specs/**'

jobs:
  format:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    steps:
    - uses: actions/checkout@v2
    - name: Install rustfmt with nightly toolchain
      uses: actions-rs/toolchain@v1
      with:
          profile: minimal
          toolchain: nightly
          override: true
          components: rustfmt
    - name: crate fmt check
      uses: actions-rs/cargo@v1
      with:
        command: fmt
        args: --all -- --check
    - name: nodejs binding fmt check
      uses: actions-rs/cargo@v1
      with:
        command: fmt
        args: --manifest-path ./bindings/node/native/Cargo.toml --all -- --check
