name: Udeps

on:
  push:
    branches:
      - dev
      - main
  pull_request:
    branches:
      - dev
      - main

jobs:
  udeps:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: nightly
        override: true

    - name: Set seeds in .env
      run: mv .env.example .env

    - name: Cache cargo registry
      uses: actions/cache@v2
      with:
        path: ~/.cargo/registry
        key: ubuntu-latest-nightly-cargo-registry-${{ hashFiles('**/Cargo.toml') }}

    - name: Cache cargo index
      uses: actions/cache@v2
      with:
        path: ~/.cargo/git
        key: ubuntu-latest-nightly-cargo-index-${{ hashFiles('**/Cargo.toml') }}

    - name: Cache cargo target
      uses: actions/cache@v2
      with:
        path: target
        key: ubuntu-latest-nightly-cargo-build-target-${{ hashFiles('**/Cargo.toml') }}

    - name: Cache nodejs binding cargo target
      uses: actions/cache@v2
      with:
        path: bindings/nodejs/native/target
        key: ubuntu-latest-nightly-cargo-build-node-target-${{ hashFiles('**/Cargo.toml') }}

    - name: Cache python binding cargo target
      uses: actions/cache@v2
      with:
        path: bindings/python/native/target
        key: ubuntu-latest-nightly-cargo-build-node-target-${{ hashFiles('**/Cargo.toml') }}

    - uses: actions-rs/cargo@v1
      with:
        command: install
        args: cargo-udeps --locked

    - uses: actions-rs/cargo@v1
      with:
        command: udeps
        args: --all-targets

    - uses: actions-rs/cargo@v1
      with:
        command: udeps
        args: --manifest-path ./bindings/nodejs/native/Cargo.toml --all-targets

    - uses: actions-rs/cargo@v1
      with:
        command: udeps
        args: --manifest-path ./bindings/python/native/Cargo.toml --all-targets
